<md-dialog class="category-dialog">
    <md-dialog-content class="md-dialog-content">
        <h2 md-title data-ng-if="!vm.isEdit">Create a category</h2>
        <h2 md-title data-ng-if="vm.isEdit">Edit a category</h2>
        <md-content layout-padding>
            <div layout-gt-xs="row">
                <md-input-container flex class="md-block">
                    <label>Name</label>
                    <input data-ng-model="vm.category.name" md-placeholder="Cars">
                </md-input-container>
            </div>
            <div layout-gt-xs="row">
                <md-input-container flex class="md-block">
                    <label>Description</label>
                    <input data-ng-model="vm.category.description" md-placeholder="Lorem ipsum">
                </md-input-container>
            </div>
        </md-content>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="vm.updateCategory()" data-ng-if="vm.isEdit" class="md-raised md-primary">
            Save
        </md-button>
        <md-button ng-click="vm.deleteCategory()" data-ng-if="vm.isEdit" class="md-raised md-warn">
            Delete
        </md-button>
        <md-button ng-click="vm.createCategory()" data-ng-if="!vm.isEdit" class="md-raised md-primary">
            Create
        </md-button>
        <md-button ng-click="vm.closeDialog()" class="md-default">
            Close Dialog
        </md-button>
    </md-dialog-actions>
</md-dialog>